body {
	background-image: url(../images/imgbackground.jpg);
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-align: center;
}
/*
.title {
	height: 20px;
	width: 1000px;
	background-color: #4aaaa5;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
	color: white;
	font-size: 30px;
	padding: 40px;
	padding-left: inherit;
	display: table-cell;
}*/
.jumbotron {
}

.Rules {
	background-color: aquamarine;
	font-size: larger;
	float: right;
	margin: 10px;
	width: 800px;
	height: 250px;
}

/*#randomnumber {
	width: 190px;
	height: 130px;
	margin: 10px;
	float: left;
	font-size: 35px;
	padding-left: 70px; */
	
}

.Win-N-Losses {
	float: left;
	margin: none;
	height: 100px;
	width: 500px;
}
#randomNumber {
	float: left;
}

h2 {
	font-weight: bold;
	font-size: 25px;
	font-weight: bolder;
	float: left;
	background-color: aquamarine;
	width: 300px;
	height: 100px;
	padding-top: 10px;
}

.Logos {
	clear: both;
}
.img-thumnail {
	float: right;
	margin: 20px;
}

.scoreDisplay {
	width: 200px;
	/*height: 100px;*/
	background-color: aquamarine;
	float: left;
	margin-left: 180px;
}

#playerScore {
	width: 70px;
	height: 600px;
	margin-right: 800px;
	float: none;
}

p {
	font-weight: bold;
}
