body{ 
    background-image: url(../images/imgbackground.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    
}

.title {
    height: 20px;
    width: 1000px;
    background-color:#4aaaa5;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    color: white;
    font-size: 30px;
    padding: 40px;
    padding-left: inherit;
    display: table-cell;
}

.Rules {
    background-color: #4aaaa5;
    float: right;
    margin: 10px;
    width: 400px;
    height: 250px;

}


#randomnumber,
.matchedNumbers {
    width: 190px;
    height: 130px;
    margin: 10px;
    float: left;
    font-size: 35px;
    padding-left: 70px;
    background-color: red;
    
}

.Win-N-Losses, .matchedNumbers {
    float: left;
    margin: none;
    height: 100px;
    width: 700px;
}
h2 {
   font-weight: bold;
   font-size: 25px;
   font-weight: bolder;
   float: left; 
   background-color: #4aaaa5;
   width: 400px;
   height: 100px;
   padding-top: 40px;

}

.Logos {
    clear: both;
}
.teamImage {
    float: right;
    margin: 10px;
    
}

.scoreDisplay {
    width: 250px;
    height: 100px;
    background-color: #4aaaa5; 
    float: left;
    margin-left: 20px;
} 

#playerScore {
    width: 20px;
    height: 60%;
    margin-right:400px;
    float: left;
 
}

p {
    text-align: justify ;
    font-weight: bold;
}